# no python env
flask/
venv*

# no config files
.env
.vscode

# no python cache file
*.pyc
__pycache__/
app/*.pyc
app/**/__pycache__/

# no tempt note
NOTE.md
*.bk

# no database file
.DS_Store
app.db
app/.DS_Store
migrations/.DS_Store

# no log file
logs/
