[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
alembic = "*"
blinker = "*"
certifi = "*"
chardet = "*"
click = "*"
coverage = "*"
decorator = "*"
defusedxml = "*"
dominate = "*"
elasticsearch = "*"
flask-migrate = "*"
flipflop = "*"
guess-language = "*"
httpie = "*"
idna = "*"
itsdangerous = "*"
pbr = "*"
pygments = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
python3-openid = "*"
pytz = "*"
redis = "*"
requests = "*"
rq = "*"
six = "*"
sqlalchemy-migrate = "*"
sqlparse = "*"
urllib3 = "*"
visitor = "*"
Babel = "*"
Flask = "*"
Flask-Babel = "*"
Flask-Bootstrap = "*"
Flask-HTTPAuth = "*"
Flask-Login = "*"
Flask-Mail = "*"
Flask-Moment = "*"
Flask-SQLAlchemy = "*"
Flask-WhooshAlchemy = "*"
Flask-WTF = "*"
guess_language-spirit = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
PyJWT = "*"
SQLAlchemy = "*"
Tempita = "*"
Werkzeug = "*"
Whoosh = "*"
WTForms = "*"

[requires]
python_version = "3.6"
